<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Port" value="80"/>
    <!--<add key="ProgramPath" value="J:\Cube World\Cube.exe"/>-->
    <add key="ProgramPath" value=".\acwl.HookTest.Winsock.exe"/>
    <!--<add key="ProgramPath" value=".\acwl.HookTest.exe"/>-->
  </appSettings>
</configuration>